<div class="center jumbotron">
  <div class="text-center">
    <h1>This service is Twitter's clone.</h1>

    <%= link_to 'Sign Up Now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>